


/* *************************************************************************************FONTS************************************************************************************************************** */

/* font-family: 'Ubuntu', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Sacramento', cursive;
font-size: 16px = 100% = 1em
 */

/* ****************************************************************************************TAGS************************************************************************************************************** */

body {
  margin: 0;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  color: #EEEEEE;
  background-color: #222831;
}

h1 {
  font-size: 7.5rem;
  margin: 120px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #00989e;
}

h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 2.5rem;
  color: #00ADB5;
}

h3 {
  font-family: 'Rubik', sans-serif;
}

a {
  color: #393E46;
}


/* *************************************************************************************CLASSES************************************************************************************************************** */

.bottom-container {

}

.bottom-cloud {
  position: absolute;
  top: 625px;
  left: 500px;
}

.contact-text > :first-child {
  margin: 10px auto 3px auto;
}

.contact-text > p {
  margin: auto auto 12px auto;
}

.copyright-text {
  background-color: #393E46;
  padding: 10px 0 10px 0;
  margin: 10px auto auto auto;
  position: relative;
  top: 1.2rem;
}

.footer-area {
  margin-top: 30px;
  background-color: #00ADB5;
  height: 225px;
}

.get-in-touch {
  color: #EEEEEE;
  margin: 0;
  padding: 15px 0 3px 0;
}

.main-text-secondary /* a web developer text */ {
  font-family: 'Rubik', sans-serif;
  position: relative;
  bottom: 45px;
  font-size: 2rem;
}

.middle-container {

}

.mountain-img{
  position: relative;
  top: 3px;
}

.my-skills-text {
  margin: 1.5rem auto 0 auto;
}

.profile-picture {
  width: 250px;
  padding-top: 35px;
}

.section-separator {
  border: dotted;
  border-width: 0.5rem 0 0 0;
  color: #393E46;
  margin: 45px auto 0 auto;
  width: 9rem;
}

.skill-image {
  width: 300px;
  margin: 30px auto 20px auto;
}

.top-cloud {
  position: absolute;
  top: 320px;
  right: 450px;
}

.top-container {
  background-color: #00ADB5;
  padding-top: 222px;
}

.web-underlined {
  text-decoration: underline;
  color: #00989e;
}
