


/* *************************************************************************************FONTS************************************************************************************************************** */

/* font-family: 'Ubuntu', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Sacramento', cursive;
font-size: 16px = 100% = 1em
 */

/* ****************************************************************************************TAGS************************************************************************************************************** */

body {
  margin: 0;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  color: #EEEEEE;
}

h1 {
  color: #00989e;
  font-family: 'Sacramento', cursive;
  font-size: 7.5rem;
  margin: auto auto auto auto;
  left: 0;
  right: 0;
  top: 4rem;
  position: absolute;
}

h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 2.5rem;
  color: #00ADB5;
}

h3 {
  font-family: 'Rubik', sans-serif;
}

a {
  color: #393E46;
  text-decoration: none;
}


/* *************************************************************************************CLASSES************************************************************************************************************** */

.bottom-container {
  position: relative;
}

.contact-icon {
  width: 9rem;
  padding: 10px 5px 0 5px;
  position: relative;
}

.contact-text > :first-child {
  margin: 10px auto 3px auto;
  font-size: 1rem;
}

.contact-text > p {
  margin: auto auto 12px auto;
  font-size: 0.8rem;
}

.copyright-text {
  margin: 0;
}

.copyright-text-container {
  background-color: #393E46;
  padding: 10px 0 10px 0;
  margin: auto;
  position: relative;
  top: 1.3rem;
}

.footer-area {
  background-color: #00ADB5;
}

.footer-icon {
  width: 2rem;
  position: relative;
  top: 5px;
  padding: 10px 4px 0 5px;
}

.footer-text {
  position: relative;
  bottom: 0.35rem;
}

.get-in-touch {
  color: #EEEEEE;
  margin: 0;
  padding: 15px 0 3px 0;
  font-size: 1.5rem;
}

.middle-container {
  background-color: #222831;
  padding-bottom: 40px;
  position: relative;
}

.my-skills-text {
  margin: 1.5rem auto auto auto;
}

.profile {
  margin: auto auto 3rem auto;
}

.profile-picture {
  width: 250px;
  padding-top: 35px;
}

.section-separator {
  border: dotted;
  border-width: 0.5rem 0 0 0;
  margin: auto;
  color: #393E46;
  width: 9rem;
  display: block;
}

.skills {
  padding: 10px 0 5px 0;
}

.skill-text {
  margin: auto;
  font-size: 0.9rem;
}

.skill-code {
  width: 12rem;
  margin-right: 30px;
  margin-bottom: 7px;
  float: left;
  position: relative;
  bottom: 0.4rem;
}

.skill-heading {
  margin: auto;
}

.skill-video-editing {
  width: 10rem;
  margin-left: 30px;
  float: right;
  position: relative;
  bottom: 2rem;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

/* .top-container {
  background-color: #393E46;
  padding-top: 35px;
  position: relative;
}

.top-container-text {
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 8px;
} */
