


/* *************************************************************************************FONTS************************************************************************************************************** */

/* font-family: 'Ubuntu', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Sacramento', cursive;
font-size: 16px = 100% = 1em
 */

/* ****************************************************************************************TAGS************************************************************************************************************** */

body {
  margin: 0;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  color: #EEEEEE;
}

h1 {
  color: #00989e;
  font-family: 'Sacramento', cursive;
  font-size: 7.5rem;
  margin: auto auto auto auto;
  left: 0;
  right: 0;
  top: 4rem;
  position: absolute;
}

h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 2.5rem;
  color: #00ADB5;
}

h3 {
  font-family: 'Rubik', sans-serif;
}

a {
  color: #393E46;
}


/* *************************************************************************************CLASSES************************************************************************************************************** */

.bottom-container {

}

/* .bottom-cloud {
  position: absolute;
  top: 39rem;
  left: 31.25rem;
} */

.contact-text > :first-child {
  margin: 10px auto 3px auto;
}

.contact-text > p {
  margin: auto auto 12px auto;
}

.copyright-text {
  background-color: #393E46;
  padding: 10px 0 10px 0;
  margin: 2px auto auto auto;
  position: relative;
  top: 1.2rem;
}

.footer-area {
  background-color: #00ADB5;
  height: 225px;
}

.get-in-touch {
  color: #EEEEEE;
  margin: 0;
  padding: 15px 0 3px 0;
}

.main-text-secondary /* a web developer text */ {
  font-family: 'Rubik', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 10.5rem;
  font-size: 1.75rem;
}

.middle-container {
  background-color: #222831;
  padding-bottom: 20px;
  position: relative;
  z-index: 1;
}

/* .mountain-img {
  position: absolute;
  bottom: 0;
}
.mountain-img-hidden {
  visibility: hidden;
} */

.my-skills-text {
  margin: 1.5rem auto auto auto;
}

.profile-picture {
  width: 250px;
  padding-top: 35px;
}

.section-separator-container {
  background-color: #222831;
  padding: 45px 0 30px 0;
}

.section-separator {
  border: dotted;
  border-width: 0.5rem 0 0 0;
  margin: auto;
  color: #393E46;
  width: 9rem;
}

.skill-image {
  width: 300px;
  margin: 30px auto 20px auto;
}

/* .top-cloud {
  position: absolute;
  top: 16.875rem;
  right: 28.125rem;
} */

.top-container {
  background-color: #393E46;
  padding-top: 350px;
  position: relative;
  z-index: 1;
}

.top-container-img {
  width: 250px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 15rem;
  z-index: -1;
}

.web-underlined {
  text-decoration: underline;
  color: #00989e;
}
