/* *************************************************************************************FONTS************************************************************************************************************** */

/*
font-size: 16px = 100% = 1rem
 */

/* ****************************************************************************************TAGS************************************************************************************************************** */

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: #202125;
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    min-height: 100%;
    text-align: center;
}

/**********************************************************ANIMATIONS*****************************************************/

@keyframes fadein {
    from { opacity: 0;
    visibility: hidden; }
    to { opacity: 1;
    visibility: visible; }
}

@keyframes fadein-70 {
    from { opacity: 0;
    visibility: hidden; }
    to { opacity: 0.7;
    visibility: visible; }
}

@keyframes fadein-fadeout {
    30% { opacity: 0; }
    60% { opacity: 1; }
    100% { opacity: 0; visibility: hidden; }
}

.welcome-section {
    opacity: 0;
    color: white;
    font-weight: bold;
    font-size: 7rem;
    animation: fadein-fadeout 4s forwards;
}

/************************************************************CLASSES***********************************************************/

/*Page body arguments*/

.background-container {
    opacity: 0;
    animation: fadein-70 3s 4s forwards;
    margin: 0;
    position: fixed;
    z-index: -1;
}

/*Socials*/

.social-text {
    border-bottom: 1px solid #DB8E00;
    color: white;
    left: -15%;
    letter-spacing: 5px;
    padding-bottom: 5px;
    position: absolute;
    text-decoration: none;
    top: 50%;
    transform: rotate(-90deg);
    transition: color 0.3s;
    width: 40%;
    opacity: 0;
    animation: fadein 1s 7s forwards;
    font-size: 1.2rem;
}

.social-text:hover {
    color: #DB8E00;
}


/*Responsiveness*/


/*Navigation area*/

.navbar .navbar-nav {
    opacity: 0;
    animation: fadein 1s 6s forwards;
    letter-spacing: 4px;
    margin: 0 auto 0 auto;
    position: relative;
    background-color: rgba(32, 33, 37, 0.8);
}


/*Main Body - Main Page*/


/*Headings styling*/


/*Main body responsiveness*/

@media (max-width: 1200px) {
    .main-headings-body {
        margin-left: 7rem;
        margin-top: 5rem;
        text-align: center;
    }

    .footer-text {
        margin-left: 7rem;
        text-align: center;
    }
}

@media (min-width: 1200px) {
    .main-headings-body {
        margin-top: 2rem;
        margin-left: 12rem;
        text-align: left;
    }

    .footer-text {
        margin-left: 12rem;
        text-align: left;
    }
}

.main-heading-1 .main-heading {
    opacity: 0;
    animation: fadein 1s 8s forwards;
}

.main-heading-1 .secondary-heading {
    opacity: 0;
    animation: fadein 1s 10s forwards;
}

.main-heading-2 {
    opacity: 0;
    animation: fadein 1s 12s forwards;
}

.main-heading-3 {
    opacity: 0;
    animation: fadein 1s 13s forwards;
}



.main-heading {
    font-size: 2rem;
    color: white;
    font-family: 'Segoe UI Semibold', Arial, sans-serif;
    letter-spacing: 7px;
    margin-top: 6.25rem;
}

.main-heading.no-margins {
    margin:0;
}

.secondary-heading {
    font-size: 1.5rem;
    color: white;
}

.main-button {
    color: #DB8E00;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 3.5px;
    text-decoration: none;
    transition: color 0.3s;
}

.main-button:hover {
    color: #bd7a00;
}

/*Footer Area*/

.footer-area {
    animation: fadein 1s 14s forwards;
    opacity: 0;
}

.footer-text {
    color: white;
    font-family: "Segoe UI Light";
    font-size: 0.6rem;
    letter-spacing: 5px;
    margin-top: 4rem;
}